<h1>登録ユーザー</h1>
  <div class="container">
    <table border="1">
    <tr>
      <th>表示名</th><th>値段</th>
    </tr>
    <% @users_profiles.each do |users_profile| %>
      <div class="posts-index-item">
        <%= users_profile.display_name %>
      </div>
    <% end %>
  </div>
