<h1>登録ユーザー</h1>
<div class="main posts-index">
  <div class="container">
    <% @users_profiles.each do |users_profile| %>
      <div class="posts-index-item">
        <%= users_profile.display_name %>
        <%
=begin%>
 <%= puts users_profile.display_name %> 
<%
=end%>
      </div>
    <% end %>
  </div>
</div>
